.custom-content-style-wrapper {
    position: relative;
}

.custom-content-style {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -10vw;
    width: 30vw;
}

.list-style {
    text-align: left;
}

.custom-title {
    margin-left: -7vw;
}

.button-alignment {
    margin-left: .75vw;
}